.Contact-Details-Container {
    width: 100%;
    margin-top:50px;
    border-radius: 10px;
    box-sizing: border-box;
    color : #606c38;
    font-family: 'AbhayaLibre';
    font-size:30px;
}

@font-face {
    font-family: 'AbhayaLibre';
    src: url('../../../public/Homepage/fonts/Alice-Regular.ttf') format('truetype'); 
  }

.Contact-Details {
    
}